
<html>
<head>
  <title>Data Journalism - Carlos</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Welcome to Data Journalism!</h1>
  </svg>

  <div>
  This project seeks to create an infographic-like website with data on recreational sites across the North-East (managed by the US), all data was obtained from the United States Forest Service and is linked below:
  <ul>
    <li><a href="https://data-usfs.hub.arcgis.com/datasets/usfs::recreation-sites-feature-layer/explore?location=40.726914%2C-73.920425%2C11.88&showTable=true">United States Forest Service Data of All Recreational Sites in the US</a></li>
  </ul>
  </div>

</body>
</html>
